.centrar {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
} 
.titulo {
    position: absolute;
    left: 50%;
    top: 0%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -5%);
} 
.titulo1 {
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -5%);
} 

.izquierda {
    position: absolute;
    left: 34%;
    top: 20%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -5%);
} 

.color {
    color: rgb(248, 242, 242);
} 

